[loggers]
keys=root,web

[handlers]
keys=stdout

[formatters]
keys=main_format

[logger_root]
level=INFO
handlers=stdout

[logger_web]
level=WARNING
handlers=stdout
propagate=1
qualname=web

[handler_stdout]
class=StreamHandler
level=NOTSET
formatter=main_format
args=(sys.stdout,)

[formatter_main_format]
format=%(asctime)s.%(msecs)dZ %(levelname)s (%(module)s:%(lineno)d) %(message)s
datefmt=%Y-%m-%dT%H:%M:%S
style=%
validate=True
class=logging.Formatter